@import './config-scss//reset.scss';

html {
  font-family: 'Roboto', sans-serif;
  background: #262835;
}

main {
  max-width: 750px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
