:host {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background: #ff5473;
    color: #ffffff;

    padding: 20px 0;
    bottom: 0;
    position: fixed;
  }
}